.App {
  width: 960px;
  margin: 10em;
  margin-left: 15em;
  padding: 4em 10em;
  box-shadow: 0 4px 10px 4px #13232f4d;
  max-width: 20em;
  background-color: aliceblue;
  border-radius: 20px;
}

.form {
  width: 500px;
}

.label {
  position: absolute;
  left: 18em;
  top: 8.5em;
  color: black;
  pointer-events: none;
  font-size: 22px;
}

input[type=text] {
  border: 2px solid; 
  padding: 0.3em 0.5em;
  font-size: 1.5em;
  border-radius: 0.4em;
}

button {
  padding: 10px 15px;;
  border-radius: 0.5em;
  margin-left: 2em;
  font-size: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: #222;
  color: white;
}

.button:hover, .button:focus {
  background: rgb(60, 60, 60);
  color: rgb(167, 37, 59);
}

nav {
  background-color: #222;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

footer {
  background-color: #222;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

nav p, footer p {
  margin: 10px 0;
  color: white;
  text-align: center;
}